@import "./variables.scss";

.header {
	width: 100%;
	text-align: center;
}

.title {
	font-size: 60px;
}

.difficultySelector {
	width: 100%;
	text-align: center;
}

.subheading {
	font-size: 30px;
	font-weight: normal;
	margin-bottom: 0px;
}

.mainContentContainer {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.mainButton {
	background-color: $color-box;
	border: 2px $color-border-box solid;
	width: 300px;
	height: 75px;
	border-radius: calc(75px / 2);
	color: $color-main;
	font-size: 30px;
	font-weight: bold;
}

.backButton {
	background-color: $color-secondary;
	border: 2px $color-border solid;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	color: $color-inverted;
	font-size: 25px;
	font-weight: bold;
}

.difficultyContainer {
	width: 100%;
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 1s;
}

.difficultyButton {
	width: 200px;
	height: 120px;
	background-color: $color-box;
	text-align: center;
	margin: 0px 5px;
	border-radius: 6px;
	border: 2px solid $color-border-box;
	transition: 0.25s;
	color: $color-main;
}

.difficultyButton:hover {
	background-color: darken($color: $color-box, $amount: 5);
}

.mainContent {
	margin-top: 50px;
	width: 80%;
	height: 60vh;
	display: flex;
	flex-direction: row;
}
