@import "./variables.scss";

.leaderboard {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.leaderboardHeader {
	width: calc(100% - 10px);
}

.leaderboardHeader h4 {
	font-size: 2vh;
	color: $color-text-dimmed;
}

.leaderboardItem,
.leaderboardHeader {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: 25% 50% 25%;
	text-align: center;
}

.leaderboardItem {
	background-color: $color-strong;
	border-bottom: $color-main solid 3px;
	border-radius: 6px;
}

.leaderboardItemIndex,
.leaderboardItemName,
.leaderboardItemScore {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 2vh;
}

.leaderboardList {
	padding: 0px;
	margin: 0px;
	overflow-y: scroll;
}
