@import "./variables.scss";

.leaderboard {
	height: 100%;
	width: 40%;
}

.leaderboardHeader h4 {
	font-size: 2vh;
	color: $color-text-dimmed;
}

.leaderboardItem,
.leaderboardHeader {
	display: grid;
	grid-auto-flow: column;
	grid-column-gap: 10px;
	grid-template-columns: 20% 50% 25%;
	text-align: center;
}

.leaderboardItem {
	background-color: $color-strong;
	border-bottom: $color-main solid 3px;
	border-radius: 6px;
}

.leaderboardItemIndex,
.leaderboardItemName,
.leaderboardItemScore {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 2vh;
}

.leaderboardList {
	padding: 0px;
	margin: 0px;
	max-height: calc(100% - 10vh);
	overflow-y: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.leaderboardList::-webkit-scrollbar {
	display: none;
}
