@import "/styles/variables.scss";

.statsContainer {
	display: grid;
	grid-template-columns: 1fr 1fr;
	flex-direction: row;
}

.basicStats {
	display: flex;
	flex-direction: column;
	padding: 10px;
}

.name {
	font-size: 5vh;
	font-weight: bold;
	margin: 5px;
}

.email {
	font-size: 2vh;
	margin: 5px;
	color: $color-text-dimmed;
}

.score {
	font-size: 3vh;
	font-weight: bold;
	margin: 5px;
}

.score span {
	font-weight: normal;
}

.mainStats {
	padding-top: 40px;
	display: grid;
	grid-template-rows: 1fr 1fr;
	gap: 40px;
}
